<template>
<form  class="loginForm cardForm" v-on:submit.prevent="submitForm">
   <h2>Docente</h2>

<div class="inputControl">
     <label for="NombreDocente">Nombre Docente: <span>*</span></label>
     <input  type="text" name="NombreDocente" class="form-control"  :class="{ bodername : showBorder }"
                   autocomplete="nope" maxlength="100" minlength="3"
     onpaste="return false" v-on:keypress="isLetter($event)" 
     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
     v-on:blur="notEmpty($event)" required style="width:80%" v-model="form.Nombre" @input="form.Nombre=$event.target.value.toUpperCase()">
    <br>
    <span style="color:RED" :class="{ span : showSpan }">No puede estar vacío el campo Nombre</span>
</div>

<div class="inputControl"> 
     <label  for="ApellidoPaternoDocente">Apellido Paterno Docente: <span>*</span></label>
     <input  type="text" name="ApellidoPaternoDocente" class="form-control" :class="{ boderap : showBorderap }"
                   autocomplete="nope" maxlength="50" minlength="3"
     onpaste="return false" v-on:keypress="isLetter($event)"  v-on:blur="notEmptyap($event)"
     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
    required style="width:80%" v-model="form.ApellidoPaterno" @input="form.ApellidoPaterno=$event.target.value.toUpperCase()">
     <br>
    <span style="color:RED" :class="{ spanap : showSpanap }">No puede estar vacío el campo Apellido Paterno</span>
</div>


<div class="inputControl"> 
     <label  for="ApellidoMaternoDocente">Apellido Materno Docente: <span>*</span></label>
     <input  type="text" name="ApellidoMaternoDocente" class="form-control" :class="{ boderam : showBorderam }"
                   autocomplete="nope" maxlength="50" minlength="3"
     onpaste="return false" v-on:keypress="isLetter($event)"  v-on:blur="notEmptyam($event)"
     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
     required style="width:80%" v-model="form.ApellidoMaterno"  @input="form.ApellidoMaterno=$event.target.value.toUpperCase()">   
    <br>
    <span style="color:RED" :class="{ spanam : showSpanam }">No puede estar vacío el campo Apellido Materno</span>
</div>

<div class="inputControl"> 
          <label  for="CelularDocente">Celular (10 d&iacute;gitos): <span>*</span></label>
          <input  type="number" name="CelularDocente" class="form-control" autocomplete="nope" maxlength="10" minlength="2"
          onpaste="return false" v-on:blur="notEmptytl($event)" :class="{ bodertl : showBordertl }"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
          required style="width:80%" v-model="form.Telefono" @input="form.Telefono=$event.target.value.toUpperCase()">
<br>
<span style="color:RED" :class="{ spantl : showSpantl }">No puede estar vacío el Telefono</span>    
</div>

<div class="inputControl"> 
     <label for="EmailDocente">Correo Docente: <span>*</span></label>
     <input  type="email" name="EmailDocente" class="form-control" 
                   autocomplete="nope" maxlength="50" minlength="3"
     onpaste="return false"  :class="{ boderco : showBorderco }"
     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
     v-on:blur="notEmptyEmail($event)" required style="width:80%" v-model="form.CorreoElectronico" @input="form.CorreoElectronico=$event.target.value.toUpperCase()">
    <br>
<span style="color:RED" :class="{ spanco : showSpanco }">No puede estar vacío el Correo Electrónico</span>   
<span style="color:RED" :class="{ spanco2 : showSpanco2 }">Correo Invalido</span>  
</div>

<div class="inputControl">
          <label for="EdadAlumno">Turno: <span>*</span></label>
         <select name="Turno" id="Turno" v-model="form.Turno" style="border-radius:6px;border: solid 1px #5eabe0; background-color:white;padding:10px 16px; width:80%;font-size:16px;color:#505050">}
         <option value="JORNADA AMPLIA">JORNADA AMPLIA</option>
         <option value="MATUTINO">MATUTINO</option>
         <option value="VESPERTINO">VESPERTINO</option>
         </select>
</div>
    <div class="inputControl" hidden="true">
     <div class="col-12 col-md-10 mt-4 md-form">
                   <label class="active">Id Escuela <span>*</span></label>
                  <input  type="text" name="idSchool" class="form-control" :value="idsch" style="width:80%">
     </div>
     </div>

      <div class="inputControl" hidden="true">
     <div class="col-12 col-md-10 mt-4 md-form">
                   <label class="active">Tipo de Escuela <span>*</span></label>
                  <input  type="text" name="typeSchool"  class="form-control" :value="tpsch"> 
     </div>
     </div>
     
          <button type="sumbit" class="cmp-button">Enviar Datos</button>
          </form>
</template>

<script>
import axios from 'axios';
export default {
props:['idsch','tpsch'],
    data(){
        return{
            form: {
                ActividadAgenda:'TEST',
                ApellidoMaterno: '',
                ApellidoMaternoTutor: null,
                ApellidoPaterno: '',
                ApellidoPaternoTutor: null,
                AreaInteres: 'PRIMER INGRESO',
                Attemp: '',
                Banner:'PROMOTOR CAPTURISTA',
                Calidad: '',
                Campus: localStorage.getItem( "campus-dummy-name" ),
                Carrera: null,
                CarreraCliente: null,
                Ciclo: '22-1',
                CorreoElectronico: '',
                CorreoElectronicoTutor: null,
                Edad: '21',
                Ejecutivo: '',
                EscuelaEmpresa: '',
                ExtensionOficina: null,
                FechaEnvioLP: '',
                Flag_Microregistro:'1',
                FuenteNegocio:'MICRO_DOCENTE',
                FuenteObtencion:'WEB',
                Genero: null,
                GUIDActividAgenda: '67f6ba08-1925-eb11-a813-000d3a3ab684',
                GUIDAreaInteres: 'b0839dc4-6572-e211-b35f-6cae8b2a4ddc',
                GUIDCalidad:'',
                GUIDCampus: localStorage.getItem( "campus-dummy-id" ),
                GUIDCarrera: localStorage.getItem( "carrera-dummy-id" ),
                GUIDCiclo: 'efb7e7b4-5eda-e911-8b6f-0050568d5ea9',
                GUIDEjecutivo: '',
                GUIDEscuelaEmpresa:'',
                GUIDFuentedeObtencion:'',
                GUIDLpTransaccion: "",
                GUIDModalidad: localStorage.getItem( "modalidad-dummy-id" ),
                GUIDNivel: localStorage.getItem( "nivel-dummy-id" ),
                GUIDOtroCampus: null,
                GUIDParentescoTutor:null,
                GUIDsubactividad:'970eaca6-c074-e211-a7b5-3440b5bef8e4',
                GUIDSubsubactividad:'99c0c416-de1f-eb11-a813-000d3a31ee06',
                GUIDUsuario: '',
                IdCarrera: null,
                LandingPage:'PROMOTOR CAPTURISTA',
                Modalidad: localStorage.getItem( "modalidad-dummy-name" ),
                Nivel: localStorage.getItem( "nivel-dummy-name" ),
                Nombre: '',
                NombreTutor: null,
                NumeroCelularTutor: null,
                OtroCampus: null,
                ParentescoTutor:null,
                Prioridad: '',
                RegistroKAM: '1',
                SubNivel: '2',
                SubSubTipoActividad:'APLICACIÓN TEST',
                SubTipoActividad:'PROMOCION ESCUELAS',
                Team: '',
                Telefono: '',
                TelefonoCasa: '',
                TelefonoCasaPredictivo: null,
                TelefonoCasaTutorPredictivo:null,
                TelefonoCelularTutorPredictivo:null,
                TelefonoOficina: '',
                TelefonoOficinaPredictivo:null,
                TelefonoPredictivo: null,
                TelefonoTutor:null,
                Turno: '',
                Usuario: '',
            },
            showSpan: true,
            showBorder: false,
            showSpanap: true,
            showBorderap: false,
            showSpanam: true,
            showBorderam: false,
            showSpantl: true,
            showBordertl: false,
            showSpanco: true,
            showSpanco2: true,
            showBorderco: false,
            ejecutivo: null,
            ejecutivo_asignado_id:'',
            filteredProducts: []
        }
    },
    forceUpper(e, o, prop) {
      const start = e.target.selectionStart;
      e.target.value = e.target.value.toUpperCase();
      this.$set(o, prop, e.target.value);
      e.target.setSelectionRange(start, start);
    },

     mounted() {
        //this.getFuentedenegocio();
        this.getEjecutivo();
        this.getTeampriority();
         //Data dummy
        axios.get( 'https://qa.atencionunitec.mx/api/dummy?auth=cdbf21d1e5cfee9eea8978751102632d' )
            .then(response => {
                let dataDummy = response.data;
                localStorage.setItem( "campus-dummy-id", dataDummy.CAMPUS.id );
                localStorage.setItem( "campus-dummy-name", dataDummy.CAMPUS.label );
                localStorage.setItem( "carrera-dummy-id", dataDummy.CARRERA.id );
                localStorage.setItem( "carrera-dummy-name", dataDummy.CARRERA.label );
                localStorage.setItem( "modalidad-dummy-id", dataDummy.MODALIDAD.id );
                localStorage.setItem( "modalidad-dummy-name", dataDummy.MODALIDAD.label );
                localStorage.setItem( "nivel-dummy-id", dataDummy.NIVEL.id );
                localStorage.setItem( "nivel-dummy-name", dataDummy.NIVEL.label );
                localStorage.setItem( "calidad-dummy-id", dataDummy.CALIDAD.id );
                localStorage.setItem( "calidad-dummy-name", dataDummy.CALIDAD.label );
            });

          axios.get( 'https://qa.atencionunitec.mx/api/cicloVigente' )
            .then(response => {
                let dataDummy = response.data[0];
                localStorage.setItem( "ciclo-dummy-id", dataDummy.codigo );
                localStorage.setItem( "ciclo-dummy-name", dataDummy.name );
            });

    },
  methods: {
    getFuenteNegocio(calidad) {
    var f_n = '';
    if (calidad == 'A' || calidad == 'B' || calidad == 'C' || calidad == 'D') {
        f_n = 'ESCUELAS PROVEEDORAS';
    }
     else  {
        f_n = 'PROMOCION NO TRADICIONAL';
    }
    /*if( calidad ){
          fuenteNegocios = JSON.parse( localStorage.getItem( "fuente-negocios" ) );
        for( var fn = 0; fn < fuenteNegocios.length; fn++ ){
              if( fuenteNegocios[fn].calidad == calidad ){
                  f_n = fuenteNegocios[fn].name;
            }
        }
    }*/

    return f_n;
},
    getUiid(){
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        const r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
    });
    }
    ,
    getTeampriority() {
    var fuente_negocio =  this.form.FuenteNegocio;
    var ciclo =  this.form.Ciclo;
    var campus =  this.form.GUIDCampus;
    var nivel =  this.form.GUIDNivel;
    var area_de_atencion =  this.form.AreaInteres;
      const url ="https://qa.atencionunitec.mx/team-priority?fuente_negocio="+fuente_negocio+'&ciclo='+ciclo
      +'&campus='+campus+'&nivel='+nivel+'&area_de_atencion='+area_de_atencion;
            axios.get( url )
            .then(response => {
                let dataTeam= response.data[0];
                this.form.Team = dataTeam.team;
                this.form.Prioridad = dataTeam.prioridad;
                this.form.Attemp = dataTeam.attemp;
                this.form.GUIDLpTransaccion = this.getUiid();
            });
   
    },
   getEjecutivo() {
     var idsescuela = this.idsch;
     var fechaRegistro = new Date();
     var mes =fechaRegistro.getMonth()+1;
     var fR = fechaRegistro.getFullYear()+'-'+mes+'-'+fechaRegistro.getDate()+' '+fechaRegistro.getHours()+':'+fechaRegistro.getMinutes()+':'+fechaRegistro.getSeconds();
     const url ="https://qa.atencionunitec.mx/api/get-ejecutivo/"+idsescuela;
      axios.get( url )
            .then(response => {
                let dataEjecutivo= response.data[0];
                this.form.Ejecutivo = dataEjecutivo.ejecutivo_asignado_name;
                this.form.GUIDEjecutivo = dataEjecutivo.ejecutivo_asignado_id;
                this.form.GUIDUsuario = dataEjecutivo.ejecutivo_asignado_id;
                this.form.GUIDEscuelaEmpresa = dataEjecutivo.crmit_empresaescuela;
                //this.form.IdCarrera = this.idsch;
                this.form.FechaEnvioLP = fR;
                this.form.EscuelaEmpresa = dataEjecutivo.name;
                this.form.Usuario = dataEjecutivo.ejecutivo_asignado_name;
                this.form.Calidad = dataEjecutivo.crmit_calidad_id_name;
                this.form.GUIDCalidad = dataEjecutivo.crmit_calidad_id;
            });
    },
     getPhonepredectivo(){
          var phone = this.form.Telefono;
          var newphone = '9044' + phone;
          return newphone;
     },
    getTelefonoLocalPredictivo(){
          var phone = this.form.Telefono;
          var newphone = '901' + phone;
          return newphone;
     },
     getUsuario(){
          var usuario = this.form.Nombre;
          return usuario;
     },
      getidfuentedeobtencion(fuenteob){
const url ="https://qa.atencionunitec.mx/api/fuenteObtencion";
 axios.get( url )
 .then(response => {
 const products = response.data;
  var a= products.filter(a => a.fuente_name.includes(fuenteob));
var extra = a[0].fuente_guid;
 console.log("ID OBTENCION"+a[0].fuente_guid); //GUID DE WEB
   return extra;
 });
     },
     submitForm(){  
     this.form.TelefonoPredictivo = this.getPhonepredectivo();
     this.form.TelefonoCasaPredictivo = this.getTelefonoLocalPredictivo();
     var fuenteob = this.form.FuenteObtencion;
     const url ="https://qa.atencionunitec.mx/api/fuenteObtencion";
    axios.get( url )
    .then(response => {
    const products = response.data;
    var a= products.filter(a => a.fuente_name.includes(fuenteob));
    this.form.GUIDFuentedeObtencion =  a[0].fuente_guid;
    //console.log("ID OBTENCION"+a[0].fuente_guid); //GUID DE WEB
       var information = new Object();
     information.nombre = this.form.Nombre;
     information.apellidopaterno = this.form.ApellidoPaterno;
     information.apellidomaterno = this.form.ApellidoMaterno;
     information.turno = 'Matutino';
     information.edad = this.form.Edad;
     localStorage.setItem("dataForm", JSON.stringify([information]));
     var showInformation = JSON.parse(localStorage.getItem("dataForm"));
     console.log(showInformation)
     axios.post("https://tbc_crm365alp_qa.unitec.mx/RegistroLP", this.form).then((result) => {
    console.log("Resultado del envio de informacion"+result);
     }) 
 
 });
     //this.form.GUIDFuentedeObtencion = this.getidfuentedeobtencion(fuenteob);

     //this.form.FuenteNegocio = this.getFuenteNegocio(calidad);

     },
     notEmpty(e) {
     var inputvalue = e.target.value;
     if (inputvalue === '') {
        this.showSpan = false;
        this.showBorder = true;
     }
     else{
        this.showSpan = true;
        this.showBorder = false;
     }
    },
    notEmptyap(e) {
     var inputvalue = e.target.value;
     if (inputvalue === '') {
        this.showSpanap = false;
        this.showBorderap = true;
     }
     else{
        this.showSpanap = true;
        this.showBorderap = false;
     }
    },
    notEmptyam(e) {
     var inputvalue = e.target.value;
     if (inputvalue === '') {
        this.showSpanam = false;
        this.showBorderam = true;
     }
     else{
        this.showSpanam = true;
        this.showBorderam = false;
     }
    },
   notEmptytl(e) {
     var inputvalue = e.target.value;
     if (inputvalue === '') {
        this.showSpantl = false;
        this.showBordertl = true;
     }
     else{
        this.showSpantl = true;
        this.showBordertl = false;
     }
    },
     notEmptyEmail(e) {
     var inputvalue = e.target.value;
     var emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
     if (inputvalue === '') {
            //alert("El campo no puede estar vacio");
        this.showSpanco2 = true;
        this.showSpanco = false;
        this.showBorderco = true;
     }
    if (!emailRegex.test(inputvalue)) {
     this.showSpanco2 = false;
     this.showSpanco = true;
     this.showBorderco = true;
    }
     else{
        this.showSpanco = true;
        this.showSpanco2 = true;
        this.showBorderco = false;
         //console.log("no esta entrando al if"); 
     }
     //console.log(inputvalue);
},
     notEmptyNumber(e) {
     var inputvalue = e.target.value;
     var inputlenght = e.target.value.length;
     if(inputlenght<3){
     alert("El numero tiene que estar compuesto por 10 digitos");
     }
     if (inputvalue === '') {
            alert("El campo no puede estar vacio");
     }
     else{
         //console.log("no esta entrando al if"); 
     }
     //console.log(inputvalue);
},
     isLetter(e) {
     let char = String.fromCharCode(e.keyCode); // Get the character
     if(/^[A-Za-z\s]+$/.test(char)) return true; // Match with regex 
     else e.preventDefault(); // If not match, don't add to input text
     },
}
}
</script>
<style scoped>
.span {
   display: none;
}
.bodername{
    border:1px solid RED;
}
.spanap {
   display: none;
}
.boderap{
    border:1px solid RED;
}
.spanam {
   display: none;
}
.boderam{
    border:1px solid RED;
}
.spantl {
   display: none;
}
.bodertl{
    border:1px solid RED;
}
.spanco {
   display: none;
}
.spanco2 {
   display: none;
}
.boderco{
    border:1px solid RED;
}
</style>