<template>
<div>

<div class="inputControl">
     <label class="active">Nombre del Tutor: <span>*</span></label>
     <input type="text" name="NombreTutor" id="NombreTutor" class="form-control" :class="{ bodernamentu : showBorderntu }"
     autocomplete="nope" maxlength="100" minlength="3"
     onpaste="return false" v-on:keypress="isLetter($event)" 
     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
     v-on:blur="notEmptyntu($event)" required style="width:80%" v-model="NombreTutor" @input="NombreTutor=$event.target.value.toUpperCase()">
     <br>
    <span style="color:RED" :class="{ spanntu : showSpanntu }">No puede estar vacío el campo Nombre Tutor</span>
</div>


<div class="inputControl">
          <label class="active">Apellido Paterno Tutor: <span>*</span></label>
          <input type="text" name="ApellidoPaternoTutor" id="ApellidoPaternoTutor" class="form-control" :class="{ bodernameaptu : showBorderaptu }"
          autocomplete="nope" maxlength="50" minlength="3"
          onpaste="return false" v-on:keypress="isLetter($event)" 
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
          v-on:blur="notEmptyaptu($event)" required style="width:80%" v-model="ApellidoPaternoTutor" @input="ApellidoPaternoTutor=$event.target.value.toUpperCase()">
<br>
<span style="color:RED" :class="{ spanaptu : showSpanaptu }">No puede estar vacío el campo Apellido Paterno Tutor</span>
</div>


<div class="inputControl">
                   <label class="active">Apellido Materno Tutor: <span>*</span></label>
                   <input type="text" name="ApellidoMaternoTutor" class="form-control" :class="{ bodernameamtu : showBorderamtu }"
                   autocomplete="nope" maxlength="50" minlength="3"
     onpaste="return false" v-on:keypress="isLetter($event)" 
     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
     v-on:blur="notEmptyamtu($event)" required style="width:80%" v-model="ApellidoMaternoTutor" @input="ApellidoMaternoTutor=$event.target.value.toUpperCase()">
<br>
<span style="color:RED" :class="{ spanamtu : showSpanamtu }">No puede estar vacío el campo Apellido Materno Tutor</span>
</div>


<div class="inputControl">
                   <label class="active">Email Tutor: <span>*</span></label>
                   <input type="email" name="CorreoElectronicoTutor" id="CorreoElectronicoTutor" class="form-control" 
                    autocomplete="nope" maxlength="50" minlength="3" :class="{ bodercotu : showBordercotu }"
     onpaste="return false" 
     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
     v-on:blur="notEmptyEmail($event)" required style="width:80%" v-model="CorreoElectronicoTutor" @input="CorreoElectronicoTutor=$event.target.value.toUpperCase()">
<br>
<span style="color:RED" :class="{ spancotu : showSpancotu }">Correo Invalido</span>  
</div>


<div class="inputControl">
                   <label class="active">Telefono Tutor: <span>*</span></label>
                   <input type="number" name="TelefonoTutor" class="form-control"  autocomplete="nope" maxlength="10" minlength="2"
          onpaste="return false" :class="{ bodertltu : showBordertltu }"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
          v-on:blur="notEmptytltu($event)" required style="width:80%" v-model="TelefonoTutor" @input="TelefonoTutor=$event.target.value.toUpperCase()">
<br>
<span style="color:RED" :class="{ spantltu : showSpantltu }">No puede estar vacio el campo Telefono Tutor</span>  
</div> 


<div class="inputControl">
                   <label class="active">Telefono Celular Tutor: <span>*</span></label>
                   <input type="number" name="NumeroCelularTutor" id="NumeroCelularTutor" class="form-control"  autocomplete="nope" maxlength="10" minlength="2"
          onpaste="return false" :class="{ bodercltu : showBordercltu }"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
          v-on:blur="notEmptycltu($event)" required style="width:80%" v-model="NumeroCelularTutor" @input="NumeroCelularTutor=$event.target.value.toUpperCase()">
<br>
<span style="color:RED" :class="{ spancltu : showSpancltu }">No puede estar vacio el campo Telefono Celular Tutor</span> 
</div> 

<div class="inputControl" >
               <label class="active">Tipo: <span>*</span></label>
               <select v-model="ParentescoTutor" name="ParentescoTutor" id="ParentescoTutor" style="border-radius:6px;border: solid 1px #5eabe0; background-color:white;padding:10px 16px; width:80%;font-size:16px;color:#505050">
               <option v-for="tr in tiporelacion" v-bind:key="tr.codigo" v-bind:value="{parentesco:tr.parentesco,GUIDParentescoTutor:tr.codigo}" >{{ tr.parentesco }}</option>
               </select>
</div>

</div>
</template>
<style scoped>
.spanntu {
   display: none;
}
.bodernamentu{
    border:1px solid RED;
}
.spanaptu {
   display: none;
}
.bodernameaptu{
    border:1px solid RED;
}
.spanamtu {
   display: none;
}
.bodernameamtu{
    border:1px solid RED;
}
.spantltu {
   display: none;
}
.bodertltu{
    border:1px solid RED;
}
.spancltu {
   display: none;
}
.bodercltu{
    border:1px solid RED;
}
.spancotu {
   display: none;
}
.bodercotu{
    border:1px solid RED;
}
</style>
<script>
import axios from "axios";
export default {
     mounted() { 
          this.getTypeuser();
  },
 watch: {
     ParentescoTutor: function() {
      // Emit this information to the parents component
      this.$emit("datatutor", {nombretutor:this.NombreTutor, apellidpptutor:this.ApellidoPaternoTutor,apellidomtutor:this.ApellidoMaternoTutor,
      correotuttor:this.CorreoElectronicoTutor,celtutor:this.NumeroCelularTutor,teltutor:this.TelefonoTutor,parentesto:this.ParentescoTutor.parentesco,idparentesto:this.ParentescoTutor.GUIDParentescoTutor});
    }
  },
  data(){
        return {
             showSpanntu: true,
             showBorderntu: false,

             showSpanaptu: true,
             showBorderaptu: false,
             
             showSpanamtu: true,
             showBorderamtu: false,

             showSpancotu: true,
             showBordercotu: false,

             showSpantltu: true,
             showBordertltu: false,

             showSpancltu: true,
             showBordercltu: false,

             NombreTutor: '',
             ApellidoPaternoTutor:'',
             ApellidoMaternoTutor: '',
             CorreoElectronicoTutor: '',
             NumeroCelularTutor: '',
             TelefonoTutor:'',
             ParentescoTutor:{
               parentesco:'',
               GUIDParentescoTutor:null
             },
        }
  },
  methods: {
     getTypeuser() {
     const vm = this;
     axios.get("https://qa.atencionunitec.mx/api/parentesco").then((result) => {
     console.log(result.data);
     vm.tiporelacion = result.data;
     }) 
     },
     notEmptycltu(e) {
     var inputvalue = e.target.value;
     if (inputvalue === '') {
        this.showSpancltu = false;
        this.showBordercltu = true;
     }
     else{
        this.showSpancltu = true;
        this.showBordercltu = false;
     }  
},
     notEmptytltu(e) {
     var inputvalue = e.target.value;
     if (inputvalue === '') {
        this.showSpantltu = false;
        this.showBordertltu = true;
     }
     else{
        this.showSpantltu = true;
        this.showBordertltu = false;
     }  
},
     notEmptyamtu(e) {
     var inputvalue = e.target.value;
     if (inputvalue === '') {
        this.showSpanamtu = false;
        this.showBorderamtu = true;
     }
     else{
        this.showSpanamtu = true;
        this.showBorderamtu = false;
     }  
},
     notEmptyaptu(e) {
     var inputvalue = e.target.value;
     if (inputvalue === '') {
        this.showSpanaptu = false;
        this.showBorderaptu = true;
     }
     else{
        this.showSpanaptu = true;
        this.showBorderaptu = false;
     }  
},
     notEmptyntu(e) {
     var inputvalue = e.target.value;
     if (inputvalue === '') {
        this.showSpanntu = false;
        this.showBorderntu = true;
     }
     else{
        this.showSpanntu = true;
        this.showBorderntu = false;
     }
    
},
     notEmpty(e) {
     var inputvalue = e.target.value;
     if (inputvalue === '') {
            alert("El campo no puede estar vacio");
     }
     else{
          console.log("error");
     }
    
},
     notEmptyEmail(e) {
         var inputvalue = e.target.value;
     var emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
     if (inputvalue === '') {
            //alert("El campo no puede estar vacio");
        this.showSpancotu = false;
        this.showBordercotu = true;
     }
    if (!emailRegex.test(inputvalue)) {
     this.showSpancotu = false;
     this.showBordercotu = true;
    }
     else{
        this.showSpancotu = true;
        this.showBordercotu = false;
         //console.log("no esta entrando al if"); 
     }
     //console.log(inputvalue);
},
     notEmptyNumber(e) {
     var inputvalue = e.target.value;
     var inputlenght = e.target.value.length;
     if(inputlenght<3){
     alert("El numero tiene que estar compuesto por 10 digitos");
     }
     if (inputvalue === '') {
            alert("El campo no puede estar vacio");
     }
     else{
         //console.log("no esta entrando al if"); 
     }
     //console.log(inputvalue);
},
    forceUppercase(e, o, prop) {
      const start = e.target.selectionStart;
      e.target.value = e.target.value.toUpperCase();
      this.$set(o, prop, e.target.value);
      e.target.setSelectionRange(start, start);
    },

     isLetter(e) {
     let char = String.fromCharCode(e.keyCode); // Get the character
     if(/^[A-Za-z\s]+$/.test(char)) return true; // Match with regex 
     else e.preventDefault(); // If not match, don't add to input text
     },
}
}
</script>