<template>
<!--Componente del prospecto-->
<form  class="loginForm cardForm" v-on:submit.prevent="submitForm">
              
    <h2>Datos del Interesado</h2>

    <general @datageneralalumno="getDatageneralalumno">

    </general>

    <complementario @datacomplealumno="getDatacomplealumno">

    </complementario>

    <interes :tpsch="tpsch" :cicloin="ciclo"  @datainteres="getDatainteres">

    </interes>

     <div hidden="true">
                   <label class="active">Id Escuela <span>*</span></label>
                  <input  type="text" name="idSchool" class="form-control" :value="idsch">
     </div>
     

 
     <div hidden="true">
        <label class="active">Tipo de Escuela <span>*</span></label>
        <input  type="text" name="typeSchool"  class="form-control" :value="tpsch"> 
     </div>
    <button type="sumbit" class="cmp-button">Enviar Datos</button>            
    </form>
</template>
<!--Componente del prospecto-->
<script>
//Componente datosgeneral.vue
import General from '../alumno/DatosgeneralesAlumno.vue'
import Complementario from '../alumno/DatosComplementarios.vue'
import Interes from '../alumno/DatosgeneralesInteres.vue'
import axios from 'axios';
export default {
  name: 'AlumnoformComponent',
  props:['idsch','tpsch','cicloi'],
  components: {
   General,
   Complementario,
   Interes
  },
  data(){
        return {
            nivel: this.tpsch,
            ciclo: this.cicloi,
                form: {
                ActividadAgenda: 'Test',
                ApellidoMaterno: '',
                ApellidoMaternoTutor: null,
                ApellidoPaterno: '',
                ApellidoPaternoTutor: null,
                AreaInteres: 'PRIMER INGRESO',
                Attemp: '',
                Banner:'PROMOTOR CAPTURISTA',
                Calidad: '',
                Campus: '',
                Carrera: '',
                CarreraCliente: '',
                Ciclo: '22-1',
                CorreoElectronico: '',
                CorreoElectronicoTutor: null,
                Edad: '21',
                Ejecutivo: '',
                EscuelaEmpresa: '',
                ExtensionOficina: null,
                Flag_Microregistro:'0',
                FuenteNegocio:'',
                FuenteObtencion:'PROMOCION',
                Genero: null,
                GUIDActividAgenda: '67f6ba08-1925-eb11-a813-000d3a3ab684',
                GUIDAreaInteres: 'b0839dc4-6572-e211-b35f-6cae8b2a4ddc',
                GUIDCalidad:'',
                GUIDCampus: '',
                GUIDCarrera: '',
                GUIDCiclo: 'efb7e7b4-5eda-e911-8b6f-0050568d5ea9',
                GUIDEjecutivo: '',
                GUIDEscuelaEmpresa: '',
                GUIDFuentedeObtencion:'',
                GUIDModalidad: '',
                GUIDNivel: '',
                GUIDOtroCampus:null,
                GUIDParentescoTutor:null,
                GUIDsubactividad:'970eaca6-c074-e211-a7b5-3440b5bef8e4',
                GUIDSubsubactividad:'99c0c416-de1f-eb11-a813-000d3a31ee06',
                GUIDUsuario: null,
                IdCarrera: '',
                LandingPage:'PROMOTOR CAPTURISTA',
                Modalidad: '',
                Nivel:'',
                Nombre: '',
                NombreTutor: null,
                NumeroCelularTutor: null,
                OtroCampus: null,
                ParentescoTutor:null,
                RegistroKAM: "1",
                SubNivel: '2',
                SubSubTipoActividad:'APLICACIÓN TEST',
                SubTipoActividad:'PROMOCION ESCUELAS',
                Telefono: '',
                TelefonoCasa: '0',
                TelefonoCasaPredictivo: null,
                TelefonoCasaTutorPredictivo:null,
                TelefonoCelularTutorPredictivo:null,
                TelefonoOficina: '1',
                TelefonoOficinaPredictivo:null,
                TelefonoPredictivo: null,
                TelefonoTutor:null,
                Turno: null,
                Usuario: null,
            },
            idextra:'',
            newciclo:null,
            valuextra:'test'
            
        };
    },
    mounted() {
        //this.getFuentedenegocio();
        this.getEjecutivo();
        //this.getTeampriority();
        //this.getExtraguidinteres();
         //Data dummy
        axios.get( 'https://qa.atencionunitec.mx/api/dummy?auth=cdbf21d1e5cfee9eea8978751102632d' )
            .then(response => {
                let dataDummy = response.data;
                localStorage.setItem( "campus-dummy-id", dataDummy.CAMPUS.id );
                localStorage.setItem( "campus-dummy-name", dataDummy.CAMPUS.label );
                localStorage.setItem( "carrera-dummy-id", dataDummy.CARRERA.id );
                localStorage.setItem( "carrera-dummy-name", dataDummy.CARRERA.label );
                localStorage.setItem( "modalidad-dummy-id", dataDummy.MODALIDAD.id );
                localStorage.setItem( "modalidad-dummy-name", dataDummy.MODALIDAD.label );
                localStorage.setItem( "nivel-dummy-id", dataDummy.NIVEL.id );
                localStorage.setItem( "nivel-dummy-name", dataDummy.NIVEL.label );
                localStorage.setItem( "calidad-dummy-id", dataDummy.CALIDAD.id );
                localStorage.setItem( "calidad-dummy-name", dataDummy.CALIDAD.label );
            });

          axios.get( 'https://qa.atencionunitec.mx/api/cicloVigente' )
            .then(response => {
                let dataDummy = response.data[0];
                localStorage.setItem( "ciclo-dummy-id", dataDummy.codigo );
                localStorage.setItem( "ciclo-dummy-name", dataDummy.name );
            });

    },
     methods: {
    getFuenteNegocio(calidad) {
    var f_n = '';
    if (calidad == 'A' || calidad == 'B' || calidad == 'C' || calidad == 'D') {
        f_n = 'ESCUELAS PROVEEDORAS';
    }
     else  {
        f_n = 'PROMOCION NO TRADICIONAL';
    }


    return f_n;
},
        getExtraguidinteres: function(){
        var nivel = this.form.Nivel;
        var agrupador  = this.form.Carrera;
        var modalidad =  this.form.Modalidad;
        var campus = this.form.Campus;
        var ciclo =   this.idextra;
        let post = {
        nivel: nivel,
        agrupador:agrupador,
        modalidad:modalidad,
        campus:campus,
        ciclo:ciclo,
        };
        const valorextratest = this;
        axios.post("https://qa.atencionunitec.mx/api/get-subnivel", post)
            .then(response => {
               let dataTeam= response.data.data[0];
               valorextratest.form.GUIDNivel = dataTeam.nivelestudios_crmit_codigounico;
               valorextratest.form.GUIDCarrera = dataTeam.carrera_codigounico;
               console.log("identificador del nivel "+valorextratest.form.GUIDNivel) ;
            });
            console.log("valor de prueba "+valorextratest.form.GUIDNivel);
            return true;
    },

    getUiid(){
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        const r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
    });
    },
    getTeampriority() {
        var calidad = this.form.Calidad;
    this.form.FuenteNegocio = this.getFuenteNegocio(calidad);
    var fuente_negocio =  this.form.FuenteNegocio;
    var ciclo =  this.form.Ciclo;
    var campus =  this.form.GUIDCampus;
    var nivel =  this.form.GUIDNivel;
    var area_de_atencion =  this.form.AreaInteres;
      const url ="https://qa.atencionunitec.mx/team-priority?fuente_negocio="+fuente_negocio+'&ciclo='+ciclo
      +'&campus='+campus+'&nivel='+nivel+'&area_de_atencion='+area_de_atencion;
            axios.get( url )
            .then(response => {
                let dataTeam= response.data[0];
                this.form.Team = dataTeam.team;
                this.form.Prioridad = dataTeam.prioridad;
                this.form.Attemp = dataTeam.attemp;
                this.form.GUIDLpTransaccion = this.getUiid();
            });
   
    },
      getEjecutivo() {
     var idsescuela = this.idsch;
     var fechaRegistro = new Date();
     var mes =fechaRegistro.getMonth()+1;
     var fR = fechaRegistro.getFullYear()+'-'+mes+'-'+fechaRegistro.getDate()+' '+fechaRegistro.getHours()+':'+fechaRegistro.getMinutes()+':'+fechaRegistro.getSeconds();
     const url ="https://qa.atencionunitec.mx/api/get-ejecutivo/"+idsescuela;
      axios.get( url )
            .then(response => {
                let dataEjecutivo= response.data[0];
                this.form.Ejecutivo = dataEjecutivo.ejecutivo_asignado_name;
                this.form.GUIDEjecutivo = dataEjecutivo.ejecutivo_asignado_id;
                this.form.GUIDUsuario = dataEjecutivo.ejecutivo_asignado_id;
                this.form.GUIDEscuelaEmpresa = dataEjecutivo.crmit_empresaescuela;
                //this.form.IdCarrera = this.idsch;
                this.form.FechaEnvioLP = fR;
                this.form.EscuelaEmpresa = dataEjecutivo.name;
                this.form.Usuario = dataEjecutivo.ejecutivo_asignado_name;
                this.form.Calidad = dataEjecutivo.crmit_calidad_id_name;
                this.form.GUIDCalidad = dataEjecutivo.crmit_calidad_id;
            });
    },
    getDatainteres: function(paramsInteres){
       // this.form.Nivel = paramsInteres.nivel;
        //this.form.GUIDNivel = paramsInteres.idnivel;
        this.form.Carrera = paramsInteres.carrera;
        this.form.CarreraCliente = paramsInteres.carrera;
        this.form.GUIDCarrera = paramsInteres.idcarrera;
        this.form.Modalidad = paramsInteres.modalidad;
        this.form.GUIDModalidad = paramsInteres.idmodalidad;
        this.form.GUIDCampus = paramsInteres.idcampus;
        this.form.Campus = paramsInteres.campus;
        //this.form.Ciclo = paramsInteres.ciclo;
        //this.form.GUIDCiclo = paramsInteres.idciclo;
        this.idextra = paramsInteres.ciclod;
    },
     getDatageneralalumno: function(paramsAlumno) {
      this.form.Nombre = paramsAlumno.nombrealumno;
      this.form.ApellidoPaterno = paramsAlumno.apellidoppalumno;
      this.form.ApellidoMaterno = paramsAlumno.apellidomalumno;
      this.form.Telefono = paramsAlumno.celalumno;
      this.form.TelefonoCasa = paramsAlumno.telalumnocasa;
      this.form.CorreoElectronico = paramsAlumno.correoalumno;
    },
    getDatacomplealumno: function(paramsAlumnocomple) {
      //this.form.Edad = paramsAlumnocomple.edadalumno;
      this.form.Turno = paramsAlumnocomple.turnoalumno;
    },
     getPhonepredectivo(){
          var phone = this.form.Telefono;
          var newphone = '9044' + phone;
          return newphone;
     },
    getTelefonoLocalPredictivo(){
          var phone = this.form.Telefono;
          var newphone = '901' + phone;
          return newphone;
     },
     getUsuario(){
          var usuario = this.form.Nombre;
          return usuario;
     },
     submitForm(){  
     //var valor = this.getExtraguidinteres();
        var calidad = this.form.Calidad;
        this.form.FuenteNegocio = this.getFuenteNegocio(calidad);
        var fuenteob = this.form.FuenteObtencion;
        var nivel = this.form.Nivel;
        var agrupador  = this.form.Carrera;
        var modalidad =  this.form.Modalidad;
        var campus = this.form.Campus;
        var ciclo =   this.idextra;
        let post = {
        nivel: nivel,
        agrupador:agrupador,
        modalidad:modalidad,
        campus:campus,
        ciclo:ciclo,
        };
       const aux = this;
        axios.post("https://qa.atencionunitec.mx/api/get-subnivel", post)
            .then(response => {

               let dataTeam= response.data.data[0];
               aux.form.GUIDNivel = dataTeam.nivelestudios_crmit_codigounico;
               aux.form.GUIDCarrera = dataTeam.carrera_codigounico;
               aux.form.IdCarrera = dataTeam.carreraid;
               aux.form.Nivel = dataTeam.nivelname;
              //console.log("identificador del nivel submit dentro de la consulta"+ciclos.form.GUIDNivel);
                     console.log("identificador del nivel submit "+aux.form.GUIDNivel);
    const url ="https://qa.atencionunitec.mx/api/fuenteObtencion";
    axios.get( url )
    .then(response => {
const products = response.data;
  var a= products.filter(a => a.fuente_name.includes(fuenteob));
 //console.log("ID OBTENCION"+a[0].fuente_guid); //GUID DE WEB
  this.form.GUIDFuentedeObtencion =  a[0].fuente_guid;


          var calidad = this.form.Calidad;
    this.form.FuenteNegocio = this.getFuenteNegocio(calidad);
    var fuente_negocio =  this.form.FuenteNegocio;
    var ciclo =  this.form.Ciclo;
    var campus =  this.form.GUIDCampus;
    var nivel =  this.form.GUIDNivel;
    var area_de_atencion =  this.form.AreaInteres;
      const url ="https://qa.atencionunitec.mx/team-priority?fuente_negocio="+fuente_negocio+'&ciclo='+ciclo
      +'&campus='+campus+'&nivel='+nivel+'&area_de_atencion='+area_de_atencion;
            axios.get( url )
            .then(response => {
                let dataTeam= response.data[0];
                this.form.Team = dataTeam.team;
                this.form.Prioridad = dataTeam.prioridad;
                this.form.Attemp = dataTeam.attemp;
                this.form.GUIDLpTransaccion = this.getUiid();
                 aux.form.TelefonoPredictivo = aux.getPhonepredectivo();
     aux.form.TelefonoCasaPredictivo = aux.getTelefonoLocalPredictivo();
     //this.form.Usuario = this.getUsuario();
     var information = new Object();
     information.nombre = aux.form.Nombre;
     information.apellidopaterno = aux.form.ApellidoPaterno;
     information.apellidomaterno = aux.form.ApellidoMaterno;
     information.turno = aux.form.Turno;
     information.edad = aux.form.Edad;
     localStorage.setItem("dataForm", JSON.stringify([information]));
     var showInformation = JSON.parse(localStorage.getItem("dataForm"));
     console.log(showInformation)
     axios.post("https://tbc_crm365alp_qa.unitec.mx/RegistroLP", aux.form).then((result) => {
     console.log("Resultado del envio de informacion if "+result);
     }) 
            
            });


     });
    });


     },
     }
}
</script>