<template>
<div>
<div class="inputControl">
          <label for="EdadAlumno">Turno: <span>*</span></label>
         <select name="Turno" id="Turno" v-model="Turno" style="border-radius:6px;border: solid 1px #5eabe0; background-color:white;padding:10px 16px; width:80%;font-size:16px;color:#505050">}
         <option value="JORNADA AMPLIA">JORNADA AMPLIA</option>
         <option value="MATUTINO">MATUTINO</option>
         <option value="VESPERTINO">VESPERTINO</option>
         </select>
</div> 
</div>  
</template>
<style scoped>
.spanedal {
   display: none;
}
.boderedal{
    border:1px solid RED;
}
</style>
<script>


export default {
 
  components: {
   
  },
watch: {
     Turno: function() {
      // Emit this information to the parents component
      this.$emit("datacomplealumno", {turnoalumno:this.Turno});
    }
    },
 data(){
        return{
            showSpanedal: true,
            showBorderedal: false,
            Turno:''
        }
    },
  methods: {
         notEmptyed(e) {
     var inputvalue = e.target.value;
     if (inputvalue === '') {
        this.showSpanedal = false;
        this.showBorderedal = true;
     }
     else{
        this.showSpanedal = true;
        this.showBorderedal = false;
     }  
},
     notEmpty(e) {
     var inputvalue = e.target.value;
     if (inputvalue === '') {
            alert("El campo no puede estar vacio");
     }
     else{
         console.log("no esta entrando al if"); 
     }
     console.log(inputvalue);
},
   forceUppercase(e, o, prop) {
      const start = e.target.selectionStart;
      e.target.value = e.target.value.toUpperCase();
      this.$set(o, prop, e.target.value);
      e.target.setSelectionRange(start, start);
    },

     isLetter(e) {
     let char = String.fromCharCode(e.keyCode); // Get the character
     if(/^[A-Za-z\s]+$/.test(char)) return true; // Match with regex 
     else e.preventDefault(); // If not match, don't add to input text
     },
}
}
</script>