<template>
<div>
     <div class="inputControl">
     <label for="Nombre">Nombre: <span>*</span></label>
     <input  type="text" name="Nombre" class="form-control" autocomplete="nope" maxlength="100" minlength="3"
     onpaste="return false" v-on:keypress="isLetter($event)"  :class="{ bodernamenal : showBordernal }"
     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
     v-on:blur="notEmptyna($event)" required style="width:80%" v-model="Nombre" @input="Nombre=$event.target.value.toUpperCase()">
     <br>
     <span style="color:RED" :class="{ spannal : showSpannal }">No puede estar vacío el campo Nombre Alumno</span>
     </div>  
     


<div class="inputControl"> 
     <label for="ApellidoPaterno">Apellido Paterno: <span>*</span></label>
     <input  type="text" name="ApellidoPaterno" class="form-control" autocomplete="nope" maxlength="50" minlength="3"
     onpaste="return false"
     v-on:keypress="isLetter($event)"  :class="{ boderapnal : showBorderapal }"
     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
     v-on:blur="notEmptyapal($event)" required style="width:80%" v-model="ApellidoPaterno" @input="ApellidoPaterno=$event.target.value.toUpperCase()">
<br>
<span style="color:RED" :class="{ spanapal : showSpanapal }">No puede estar vacío el campo Apellido Paterno Alumno</span>
</div>


<div class="inputControl"> 
          <label for="ApellidoMaterno">Apellido Materno: <span>*</span></label>
          <input  type="text" name="ApellidoMaterno" class="form-control" autocomplete="nope" maxlength="50" minlength="3"
          onpaste="return false"
          v-on:keypress="isLetter($event)"  :class="{ boderamnal : showBorderamal }"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
          v-on:blur="notEmptyamal($event)" required style="width:80%" v-model="ApellidoMaterno" @input="ApellidoMaterno=$event.target.value.toUpperCase()">
 <br>
<span style="color:RED" :class="{ spanamal : showSpanamal }">No puede estar vacío el campo Apellido Materno Alumno</span>    
</div>

<div class="inputControl"> 
          <label for="Celular">Celular (10 d&iacute;gitos): <span>*</span></label>
          <input  type="number" name="Celular" class="form-control" autocomplete="nope" maxlength="10" minlength="2"
          onpaste="return false" :class="{ boderatlal : showBordertlal }"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
          v-on:blur="notEmptytlal($event)" required style="width:80%" v-model="Telefono"  @input="Telefono=$event.target.value.toUpperCase()">
<br>
<span style="color:RED" :class="{ spantlal : showSpantlal }">No puede estar vacío el campo Celular Alumno</span>
</div>

<div class="inputControl"> 
          <label for="TelefonoLocal">Local (10 d&iacute;gitos): <span>*</span></label>
          <input  type="number" name="TelefonoLocal" class="form-control" autocomplete="nope" maxlength="10" minlength="2"
          onpaste="return false" :class="{ boderatlcal : showBordertlcal }"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
          v-on:blur="notEmptytlcal($event)" required style="width:80%"  v-model="TelefonoCasa" @input="TelefonoCasa=$event.target.value.toUpperCase()">
<br>
<span style="color:RED" :class="{ spantlcal : showSpantlcal }">No puede estar vacío el campo Telefono de casa Alumno</span>   
</div>

<div class="inputControl"> 
          <label for="EmailAlumno">Correo: <span>*</span></label>
          <input  type="email" name="CorreoElectronico" id="CorreoElectronico" class="form-control" autocomplete="nope" maxlength="100" minlength="3"
          onpaste="return false" :class="{ boderacoal : showBordercoal }"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
          v-on:blur="notEmptyEmail($event)" required style="width:80%" v-model="CorreoElectronico" @input="CorreoElectronico=$event.target.value.toUpperCase()"> 
<br>
<span style="color:RED" :class="{ spancoal : showSpancoal }">No puede estar vacío el campo Correo Alumno</span>      
</div>
</div>

</template>
<style scoped>
.spannal {
   display: none;
}
.bodernamenal{
    border:1px solid RED;
}
.spanapal {
   display: none;
}
.boderapnal{
    border:1px solid RED;
}
.spanamal {
   display: none;
}
.boderamnal{
    border:1px solid RED;
}
.spantlal {
   display: none;
}
.boderatlal{
    border:1px solid RED;
}
.spantlcal {
   display: none;
}
.boderatlcal{
    border:1px solid RED;
}
.spancoal {
   display: none;
}
.boderacoal{
    border:1px solid RED;
}
</style>
<script>

export default {
     watch: {
     CorreoElectronico: function() {
      // Emit this information to the parents component
      this.$emit("datageneralalumno", {nombrealumno:this.Nombre, apellidoppalumno:this.ApellidoPaterno,apellidomalumno:this.ApellidoMaterno,
      correoalumno:this.CorreoElectronico,celalumno:this.Telefono,telalumnocasa:this.TelefonoCasa});
    }
    },
     data(){
        return{
            showSpannal: true,
            showBordernal: false,

            showSpanapal: true,
            showBorderapal: false,

            showSpanamal: true,
            showBorderamal: false,

            showSpantlal: true,
            showBordertlal: false,

            showSpantlcal: true,
            showBordertlcal: false,

            showSpancoal: true,
            showBordercoal: false,

            Nombre:'',
            ApellidoPaterno:'',
            ApellidoMaterno:'',
            CorreoElectronico:'',
            Telefono:'',
            TelefonoCasa:'',
        }
    },
  methods: {
     notEmptytlcal(e) {
     var inputvalue = e.target.value;
     if (inputvalue === '') {
        this.showSpantlcal = false;
        this.showBordertlcal = true;
     }
     else{
        this.showSpantlcal = true;
        this.showBordertlcal = false;
     }  
},
     notEmptytlal(e) {
     var inputvalue = e.target.value;
     if (inputvalue === '') {
        this.showSpantlal = false;
        this.showBordertlal = true;
     }
     else{
        this.showSpantlal = true;
        this.showBordertlal = false;
     }  
},
     notEmptyamal(e) {
     var inputvalue = e.target.value;
     if (inputvalue === '') {
        this.showSpanamal = false;
        this.showBorderamal = true;
     }
     else{
        this.showSpanamal = true;
        this.showBorderamal = false;
     }  
},
     notEmptyapal(e) {
     var inputvalue = e.target.value;
     if (inputvalue === '') {
        this.showSpanapal = false;
        this.showBorderapal = true;
     }
     else{
        this.showSpanapal = true;
        this.showBorderapal = false;
     }  
},
     notEmptyna(e) {
     var inputvalue = e.target.value;
     if (inputvalue === '') {
        this.showSpannal = false;
        this.showBordernal = true;
     }
     else{
        this.showSpannal = true;
        this.showBordernal = false;
     }  
},
     notEmpty(e) {
     var inputvalue = e.target.value;
     if (inputvalue === '') {
            alert("El campo no puede estar vacio");
     }
     else{
         //console.log("no esta entrando al if"); 
     }
     //console.log(inputvalue);
},
     notEmptyEmail(e) {
         var inputvalue = e.target.value;
     var emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
     if (inputvalue === '') {
            //alert("El campo no puede estar vacio");
        this.showSpancoal = false;
        this.showBordercoal = true;
     }
    if (!emailRegex.test(inputvalue)) {
     this.showSpancoal = false;
     this.showBordercoal = true;
    }
     else{
        this.showSpancoal = true;
        this.showBordercoal = false;
         //console.log("no esta entrando al if"); 
     }
     //console.log(inputvalue);
},
     notEmptyNumber(e) {
     var inputvalue = e.target.value;
     var inputlenght = e.target.value.length;
     if(inputlenght<3){
     alert("El numero tiene que estar compuesto por 10 digitos");
     }
     if (inputvalue === '') {
            alert("El campo no puede estar vacio");
     }
     else{
         //console.log("no esta entrando al if"); 
     }
     //console.log(inputvalue);
},

   forceUppercase(e) {
     e.value = e.value.toUpperCase();
    },

     isLetter(e) {
     let char = String.fromCharCode(e.keyCode); // Get the character
     if(/^[A-Za-z\s]+$/.test(char)) return true; // Match with regex 
     else e.preventDefault(); // If not match, don't add to input text
     },
}
}
</script>