<template>
<div>
<h2>INTERES</h2>
          <div class="inputControl">
            <label for="nivelSelected">Nivel: <span>*</span></label>
            <select  name="nivelAlumno" id="nivelAlumno" v-model="nivelSelected"  v-on:change="getCarrera"  style="border-radius:6px;border: solid 1px #5eabe0; background-color:white;padding:10px 16px; width:80%;font-size:16px;color:#505050">
            <option v-for="nv in nivelAlumno" v-bind:key="nv.id" v-bind:value="nv.id">
               {{ nv.name }}
            </option>
            </select>
          </div>
     

  
          <div class="inputControl">
                    <label  for="Carrera">Carrera: <span>*</span></label>
                    <select name="Carrera" id="Carrera" v-model="Carrera" v-on:change="defineModalidad"  style="border-radius:6px;border: solid 1px #5eabe0; background-color:white;padding:10px 16px; width:80%;font-size:16px;color:#505050">
                    <option v-for="cr in carrera" v-bind:key="cr.id" v-bind:value="{IdCarrera: cr.id,Carrera:cr.name}">{{ cr.name }}</option>
            </select>

          </div> 
   
          <div class="inputControl">
                         <label for="Modalidad">Modalidad: <span>*</span></label>
                         <select name="modalidadAlumno" id="modalidadAlumno" v-model="modalidadAlumno" v-on:change="defineCampus" style="border-radius:6px;border: solid 1px #5eabe0; background-color:white;padding:10px 16px; width:80%;font-size:16px;color:#505050">
                         <option v-for="md in modalidad" v-bind:key="md.id" v-bind:value="{GUIDModalidad:md.id,Modalidad:md.name}">{{ md.name }}</option>
          </div>
     
         <div class="inputControl" hidden="true">
                    <label for="Ciclo">Ciclo: <span>*</span></label>
                    <select name="cicloAlumno" id="cicloAlumno" v-model="cicloAlumno" style="border-radius:6px;border: solid 1px #5eabe0; background-color:white;padding:10px 16px; width:80%;font-size:16px;color:#505050">
                    <option v-for="cl in ciclo" v-bind:key="cl.id" v-bind:value="{GUIDCiclo:cl.cicloid,Ciclo:cl.cicloidname,Ciclod:cl.cicloidcod}">{{ cl.cicloidname }}</option>
          </div>  

          <div class="inputControl">
                    <label for="Campus">Campus de interés: <span>*</span></label>
                    <select name="campusAlumno" id="campusAlumno" v-model="campusAlumno" v-on:change="defineCiclo" style="border-radius:6px;border: solid 1px #5eabe0; background-color:white;padding:10px 16px; width:80%;font-size:16px;color:#505050">
                    <option v-for="cm in campus" v-bind:key="cm.id" v-bind:value="{GUIDCampus: cm.id,Campus:cm.name}">{{ cm.name }}</option>
          </div> 
    

  
               
</div>
</template>

<script>
import axios from "axios";
export default {
props:['tpsch'],
name: 'DatosgeneralesInteres',  
mounted() { 
    this.getTypesch();
            this.getNivel();
            this.getCarrera();
            this.getModalidad();
            this.getCampus();
            this.getCiclo();
           
    },
watch: {
     campusAlumno: function() {
      // Emit this information to the parents component
      this.$emit("datainteres", {nivel:this.nivelAlumno.Nivel,idnivel:this.nivelAlumno.GUIDNivelInteres,
      carrera:this.Carrera.Carrera,idcarrera:this.Carrera.IdCarrera,
      modalidad:this.modalidadAlumno.Modalidad,idmodalidad:this.modalidadAlumno.GUIDModalidad,
      idcampus:this.campusAlumno.GUIDCampus,campus:this.campusAlumno.Campus,
      ciclo:this.cicloAlumno.Ciclo,idciclo:this.cicloAlumno.GUIDCiclo,ciclod:this.cicloAlumno.Ciclod
      });
    }
  }, 
data(){
        return {
            nivel: null,
            carrera: null,
            modalidad: null,
            campus: null,
            ciclo: null,
            level: '',
            modal: '',
            campusD:'',
            clc:'',
            nivelSelected: '',
            nivelAlumno: [{
               Nivel:'',
               GUIDNivelInteres:''
            }
            ],
             Carrera:{
               Carrera:'',
               IdCarrera:''
             },
             modalidadAlumno:{
                Modalidad:'',
                GUIDModalidad:''
             },
             campusAlumno:{
                Campus:'',
                GUIDCampus:''
             },
             cicloAlumno:{
                Ciclo:'',
                GUIDCiclo:'',
                Ciclod:''
             }
        };
    },
methods:{
     getTypesch(){
        var urlLevel = this.tpsch;
        console.log("Nivel url "+urlLevel);
        if(urlLevel == "PREPARATORIA"){
           this.nivelSelected = '5'
        }
        else if(urlLevel == "LICENCIATURA"){
            this.nivelSelected = '3'
        }
        else{
            this.nivelSelected = '1'
        }
        },
     defineCarrera(){
        var valuelevel = this.nivelSelected;
        this.getCarrera(valuelevel);
     },
     defineModalidad(){
        var grupoCArrera = this.Carrera.IdCarrera;
        var nivel = this.nivelSelected;
        this.getModalidad(grupoCArrera,nivel);
     },
     defineCampus(){
        var grupoCArrera = this.Carrera.IdCarrera;
        var mdl = this.modalidadAlumno.GUIDModalidad;
        this.getCampus(grupoCArrera,mdl);
     },
     defineCiclo(){
        var grupoCArrera = this.Carrera.IdCarrera;
        var mdl = this.modalidadAlumno.GUIDModalidad;
        var cmp = this.campusAlumno.GUIDCampus;
        this.getCiclo(grupoCArrera,mdl,cmp);
        
     },
     getCiclo(grupoCArrera,mdl,cmp) {
      let post = {
        grupo_carrera: grupoCArrera,
        modalidad:mdl,
        campus:cmp
        };  
     const ciclos = this;
     axios.post("https://qa.atencionunitec.mx/api/ciclo-search-interest", post).then((result) => {
     console.log("Data de las ciclos "+result.data.data);
     ciclos.ciclo = result.data.data;
     }) 
     //this.getExtraguidinteres();
    },
    getCampus(grupoCArrera,mdl) {
        let post = {
        grupo_carrera: grupoCArrera,
        modalidad:mdl
        };
     const campusstore = this;
     axios.post("https://qa.atencionunitec.mx/api/campus-search-interest", post).then((result) => {
     console.log("Data de las campos "+result.data.data);
     campusstore.campus = result.data.data;
     }) 
    },
     getModalidad(grupoCArrera,nivel) {
        let post = {
        grupo_carrera: grupoCArrera,
        nivel:nivel
        };
     const modalidaddes = this;
     axios.post("https://qa.atencionunitec.mx/api/modalidad-search-interest", post).then((result) => {
     console.log("Data de las modalidades "+result.data.data);
     modalidaddes.modalidad = result.data.data;
     }) 
    },
    getCarrera() {
  
      var valuelevel =  this.nivelSelected;
      console.log("identificador del nivel "+valuelevel);
      let post = {
      linea: valuelevel
      };
     const carreras = this;
     axios.post("https://qa.atencionunitec.mx/api/carrera-search-interest", post).then((result) => {
     console.log("Data de las carreras "+result.data.data);
     carreras.carrera = result.data.data;
     }) 
    },
     getNivel() {
     const vm = this;
     axios.get("https://qa.atencionunitec.mx/api/nivel-search-interest").then((result) => {
     console.log("Data de los intereses "+result.data);
     vm.nivelAlumno = result.data;
     }) 
    },
      forceUppercase(e, o, prop) {
      const start = e.target.selectionStart;
      e.target.value = e.target.value.toUpperCase();
      this.$set(o, prop, e.target.value);
      e.target.setSelectionRange(start, start);
    },

     isLetter(e) {
     let char = String.fromCharCode(e.keyCode); // Get the character
     if(/^[A-Za-z\s]+$/.test(char)) return true; // Match with regex 
     else e.preventDefault(); // If not match, don't add to input text
     },
    }
}
</script>